/*引入字体*/
@font-face { 
	font-family: 'P-fine';
	src: url('../fonts/PINGFANG REGULAR.TTF');
} 

@font-face { 
	font-family: 'P-crude';
	src: url('../fonts/PINGFANG MEDIUM.TTF');
} 




.dom-box{
	width: 4rem;
	height: 100vh;
	background: #f8f8f6;
	font-family: P-fine;
}


/*订单*/
.box-order{
    height:0.453125rem;
    background: #fff;
    display: flex;
}

.box-order li{
    width: 1.334375rem;
    height: 100%;
    font-size:0.170625rem;
    text-align: center;
    line-height: 0.453125rem;
    border-bottom:1px solid #eee;
    flex:1;
    box-sizing: border-box;
}


.box-order li:nth-child(1){
    left: 0;
}

.box-order li:nth-child(2){
    left: 0.99375rem;
}

.box-order li:nth-child(3){
    left: 1.9875rem;
}

.box-order li:nth-child(4){
    left: 2.98125rem;
    border-right: 2px solid transparent;
}

.box-order li.on{
    color: #fd674f;
    border-bottom:2px solid #fd674f;
}



/*全部订单*/

.dom-order{
	margin-top: 0.10625rem;
	background: #fff;
	border-top:1px solid #eee;
}

.dom-order li{
	display: none;
}

.dom-order li.active{
	display: block;
}


/*订单详情*/
.dom-tlt{
	height: 0.35rem;
	box-sizing: border-box;
	border-bottom:1px solid #eee;
	position: relative;
}

.dom-tlt p:nth-child(1){
	font-size: 0.14928125rem;
	color: #823810;
	padding-left: 0.2125rem;
	line-height: 0.35rem;
	position: absolute;
	top: 0;
	left: 0;
}

.dom-tlt p:nth-child(2){
	font-size: 0.14928125rem;
	line-height: 0.35rem;
	color: #999;
	padding-right: 0.2125rem;
	position: absolute;
	top: 0;
	right: 0;
}



.dom-img{
	height: 0.821875rem;
	position: relative;
	box-sizing: border-box;
	border-bottom:1px solid #eee;
}

.dom-img img{
	width: 0.625rem;
	height: 0.625rem;
	position: absolute;
	top: 0.1rem;
	left: 0;
	margin-left: 0.2125rem;
}

.dom-img p:nth-child(2){
	font-size: 0.170625rem;
	color: #3c3c3c;
	position: absolute;
	top: 0;
	left: 0.9375rem;
	line-height: 0.821875rem;
	font-family: P-crude;
	font-weight: 500;
}

.dom-img p:nth-child(3){
	font-size: 0.125rem;
	color: #666;
	position: absolute;
	top: 0;
	left: 2.053125rem;
	line-height: 0.821875rem;
	font-weight: 600;
}

.dom-img p:nth-child(4){
	font-size: 0.125rem;
	color: #666;
	position: absolute;
	top: 0;
	right: 0.2125rem;
	line-height: 0.821875rem	
}


.dom-total{
	height: 0.625rem;
	position: relative;
	box-sizing: border-box;
	border-bottom:1px solid #eee;
}

.dom-total p:nth-child(1){
	font-size: 0.170625rem;
	line-height: 0.625rem;
	position: absolute;
	top: 0;
	left: 0;
	padding-left: 0.2125rem;
}

.dom-total p:nth-child(1) i{
	font-style: normal;
	color: #ff644e;
}

.dom-total p:nth-child(2){
	width: 0.9rem;
	height: 0.3rem;
	border-radius: 0.14375rem;
	position: absolute;
	top: 0.159375rem;
	right: 0.2125rem;
	background: #ff644e;
	color: #fff;
	font-size: 0.170625rem;
	text-align: center;
	line-height: 0.3rem;

}