
<!DOCTYPE html>
<html>
<head lang="en">
    {% load staticfiles %}
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1.0" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>分店页面</title>
<link rel="stylesheet" type="text/css" href="{% static 'DiningServer/css/swiper.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'DiningServer/css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'DiningServer/css/inBranch.css' %}">
</head>
<body>

<div class="box-branch">
    <a href="javascript:;" class="box-close" id="box-close">×</a>
    <ul class="box-suf" id="box-suf">

        <li>
            <p>三里屯soho</p>
            <span>地址: 三里屯soho商务大楼8号楼底商店铺88号</span>
        </li>

        <li>
            <p>三里屯soho</p>
            <span>地址: 三里屯soho商务大楼8号楼底商店铺88号</span>
        </li>


    </ul>
</div>



<script type="text/javascript" src="{% static 'DiningServer/js/Adaptive.js' %}"></script>
<script type="text/javascript" src="{% static 'DiningServer/js/jquery-1.7.1.min.js' %}"></script>
<script type="text/javascript">
</script>
</body>
</html>