<!doctype html>
<html>
<head>
{% load staticfiles %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1.0" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>订餐系统</title>
<link rel="stylesheet" type="text/css" href="{% static 'DiningServer/css/swiper.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'DiningServer/css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'DiningServer/css/index.css' %}">
</head>
<body>
<div class="swiper-position clearfix">
    <div class="positionleft">
        <img src="{% static 'DiningServer/images/index/biao.png' %}" class="position-img">
        {% if house %}
            <a href="javascript:;" class="position-text">{{ house.name }}</a>
        {% else %}
            <a href="javascript:;" class="position-text">可外卖的东西</a>
        {% endif %}
        <!--<a href="javascript:;"><input class="position-text" type="text" name="海泰大厦站点" placeholder="海泰大厦站点" /></a> -->
        <p class="position-paragraph">(点击更换站点)</p>
    </div>
    <div class="positionright clearfix">
        <img src="{% static 'DiningServer/images/index/sosuo.png' %}" class="right-img1">
        <i class="right-bd"></i>
        <img src="{% static 'DiningServer/images/index/phone.png' %}" class="right-img1">
    </div>
</div>
<div class="index-bg"></div>


<div class="index-content">


    <div class="nav-lf">
        <ul id="nav">
            {% for category in categorys %}
                {% if forloop.first %}
                    <li data-href="#st{{ forloop.counter}}" class="current"><a href="javascript:;" id="{{ category.category_id }}">{{ category.category }}</a><b></b></li>
                {% else %}
                    <li data-href="#st{{ forloop.counter}}"><a href="javascript:;" id="{{ category.category_id }}">{{ category.category }}</a><b>1</b></li>
                {% endif %}
            {% empty %}
                <li class="current"><a href="#st1">分类1</a><b>1</b></li>
                <li><a href="#st2">分类2</a><b>1</b></li>
                <li><a href="#st3">分类3</a><b>1</b></li>
                <li><a href="#st4">分类4</a><b>1</b></li>
            {% endfor %}

        </ul>
    </div>
    <div id="container" class="container">
      {% for meal_list in meals %}
      <div class="section" id="st{{ forloop.counter }}">
      <!--  在这里填充section的内容  -->

         <section class="container-divzw"></section>
        {% for meal in meal_list %}
            <div class="prt-lt" id="{{ meal.meals_id }}">

                <!-- 图片 -->

                {% if meal.avatar_url %}
                    <div class="lt-lt">
                        <a href="/DiningServer/{{ meal.meals_id }}/getMealDetail/"><img _lazy_src="{{ meal.avatar_url }}" /></a>
                        <!-- <a href="javascript:;" class="boxtext"><span>已有<strong>{{ meal.judge_count }}</strong>人评价</span></a> -->
                    </div>
                {% else %}
                    <div class="lt-lt"><img src="{% static 'DiningServer/images/index/prt_1.jpg' %}"></div>
                    <div class="lt-lt">
                        <img src="{% static 'DiningServer/images/index/prt_1.jpg' %}">
                        <a href="javascript:;" class="boxtext"><span>已有<strong>12</strong>人评价</span></a>
                    </div>
                {% endif %}

                <div class="lt-ct">
                    <p>{{ meal.meals_name }}</p>
                    <p class="pr">¥<span class="price">{{ meal.meal_price }}</span></p>
                    <p class="pr2">已售<span class="text">{{ meal.sold_count }}</span>份</p>
                </div>
                <div class="lt-rt">
                    <input type="button" class="minus"  value="-">
                    <input type="text" class="result" value="0">
                    <input type="button" class="add" value="+">
                </div>
            </div>
          {% empty %}
        {% endfor %}
      </div>
      {% endfor %}

</div>
</div>
<div style="height:0.45rem"></div>
<footer id="footer-box">
	<div class="ft-lt" id="ft-lt">
        <img src="{% static 'DiningServer/images/index/shop.png' %}" class="ft-lt-img">
        <p>总计:<span id="total" class="total">0.00元</span><span class="nm">(<label class="share"></label>份)</span></p>
    </div>
    <div class="ft-rt" id="change-success">确认订单</div>
</footer>
<script type="text/javascript" src="{% static 'DiningServer/js/Adaptive.js' %}"></script>
<script type="text/javascript" src="{% static 'DiningServer/js/jquery-1.7.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'DiningServer/js/swiper.min.js' %}"></script>

<script type="text/javascript" src="{% static 'DiningServer/js/mobile.js' %}"></script>
<script type="text/javascript">
//图片数组
var src_list = {
    {% for meal_list in meals %}
        {% for item in meal_list %}
            "{{ item.meals_id }}":"{{ item.avatar_url }}",
        {% endfor %}
    {% endfor %}
};


//餐厅的电话号码
{% if house %}
var phone = {{ house.phone }}
{% else %}
var phone = {{ house.phone }}
{% endif %}



</script>
<script>
    //图片延时加载
window.onload=window.onscroll=window.onresize=function (){
	//var aImg=document.getElementsByTagName('img');
    var aImg=$('.lt-lt a img');
    //alert(aImg);
	var scrollTop=document.documentElement.scrollTop || document.body.scrollTop;
	var clientBottom=document.documentElement.clientHeight+scrollTop;

	for (var i=0; i<aImg.length; i++)
	{
		if (clientBottom >= aImg[i].offsetTop)
		{
			// 换
			// aImg[i].src=aImg[i]['_src']; 错
			aImg[i].src=aImg[i].getAttribute('_lazy_src');
		}
	}
};
</script>
<script>
$(function() {

        //数据存储
    var json = {};

    $(".add").click(function () {
        var t = $(this).parent().find('input[class*=result]');
        t.val(parseInt(t.val()) + 1);
        setTotal();

        //获取当前选择的菜
        var _id = $(this).parents(".prt-lt").attr('id');
        json[ _id ] = t.val();

    });

    $(".minus").click(function () {
        var t = $(this).parent().find('input[class*=result]');
        t.val(parseInt(t.val()) - 1);
        if (parseInt(t.val()) < 0) {
            t.val(0);
        }
        setTotal();

        var _id = $(this).parents(".prt-lt").attr('id');
        json[ _id ] = t.val();


    });

    var $changeBtn = $("#change-success")
            , url = '/DiningServer/gotoOrderPage/'
            ;
            
    $changeBtn.on("click", function () {
        StandardPost(url, json);
    });

    function StandardPost(url,args) {
        var body = $(document.body),
            form = $("<form method='post'></form>"),
            input;
        form.attr({"action":url});
        $.each(args,function(key,value){
            input = $("<input type='hidden'>");
            input.attr({"name":key});
            input.val(value);
            form.append(input);
        });

        form.appendTo(document.body);
        form.submit();
        document.body.removeChild(form[0]);
    }

    function setTotal() {
        var sum = 0;
        var meal_count = 0;
        var category_count = 0;
        <!--计算总额-->
        $(".lt-rt").each(function () {
            sum += parseInt($(this).find('input[class*=result]').val()) * parseFloat($(this).siblings().find('span[class*=price]').text());
        });

        <!--计算菜种-->
        var nIn = $("li.current a").attr("href");
        $(nIn + " input[type='text']").each(function () {
            if ($(this).val() != 0) {
                category_count++;
            }
        });

        <!--计算总份数-->
        $("input[type='text']").each(function () {
            meal_count += parseInt($(this).val());
        });
        if (category_count > 0) {
            $(".current b").html(category_count).show();
        } else {
            $(".current b").hide();
        }
        $(".share").html(meal_count);
        $("#total").html(sum.toFixed(2));
    }
        setTotal();
 });


</script>
<script type="text/javascript" src="{% static 'DiningServer/js/waypoints.min.js' %}"></script>
<script type="text/javascript" src="{% static 'DiningServer/js/navbar2.js' %}"></script>
</body>
</html>