<!doctype html>
<html>
<head>
{% load staticfiles %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1.0" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>我的订单</title>
<link rel="stylesheet" type="text/css" href="{% static 'DiningServer/css/swiper.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'DiningServer/css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'DiningServer/css/dom.css' %}">
</head>

<body>

    <div class="dom-box">


<!--订单信息-->
        <ul class="box-order" id="order">
          <!--未付款-->
            <li class="on">未付款</li>
            <!--配送中-->
            <li>配送中</li>
            <!--已完成-->
            <li>已完成</li>
        </ul>


<!--详细 信息-->
        <dl class="dom-order" id="dom">
            <!--未付款-->
            <li class="active dom-one">
            {% for bill in bills %}
               <div class="dom-tlt">
                   <p>未付款</p>
                   <p>2016/1/5 11:36</p>
               </div>

               <div class="dom-img">
                   <img src="{% static 'DiningServer/images/index/1.jpg' %}">
                   <p>营养双拼套餐</p>
                   <p>￥16</p>
                   <p>x1</p>
               </div>
               <div class="dom-img">
                   <img src="{% static 'DiningServer/images/index/2.jpg' %}">
                   <p>什锦沙拉套餐</p>
                   <p>￥16</p>
                   <p>x1</p>
               </div>

                <div class="dom-total">
                    <p>总价：<i>￥32</i></p>
                    <p>去付款</p>
                </div>
                
            </li>

    



            <!--配送中-->
            <li class="dom-one">
                <div class="dom-tlt">
                   <p>配送中</p>
                   <p>2016/1/5 11:36</p>
               </div>

               <div class="dom-img">
                   <img src="{% static 'DiningServer/images/index/1.jpg' %}">
                   <p>营养双拼套餐</p>
                   <p>￥16</p>
                   <p>x1</p>
               </div>
               <div class="dom-img">
                   <img src="{% static 'DiningServer/images/index/2.jpg' %}">
                   <p>什锦沙拉套餐</p>
                   <p>￥16</p>
                   <p>x1</p>
               </div>

                <div class="dom-total">
                    <p>总价：<i>￥32</i></p>
                    <p>配送中</p>
                </div>
            </li>



            <!--已完成-->
            <li class="dom-one">
                <div class="dom-tlt">
                   <p>已完成</p>
                   <p>2016/1/5 11:36</p>
               </div>

               <div class="dom-img">
                   <img src="{% static 'DiningServer/images/index/1.jpg' %}">
                   <p>营养双拼套餐</p>
                   <p>￥16</p>
                   <p>x1</p>
               </div>
               <div class="dom-img">
                   <img src="{% static 'DiningServer/images/index/2.jpg' %}">
                   <p>什锦沙拉套餐</p>
                   <p>￥16</p>
                   <p>x1</p>
               </div>

                <div class="dom-total">
                    <p>总价：<i>￥32</i></p>
                    <p>已完成</p>
                </div>
                {% endfor %}
            </li>

 

        </dl>

    </div>

<script type="text/javascript" src="{% static 'DiningServer/js/Adaptive.js' %}"></script>
<script type="text/javascript" src="{% static 'DiningServer/js/jquery-1.7.1.min.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function(){
        // 判断是否已经访问过某个类别
        var visited = [true,false,false,false];
        $("#order li").on("click",function(){
            $("#order li").eq($(this).index()).addClass("on").siblings().removeClass('on');
            $("#dom li").hide().eq($(this).index()).show();

            var index = $(this).index();
            getData(index);
        });

        /*订单请求数据*/
        function getData (iNow){
            if(visited[iNow]){
                return ;
            }
            $.post('/DiningServer/getOrdersByType/', {'type': iNow}, function (data) {
                visited[iNow] = true;
                $('.dom-one').eq(iNow).html(data)
            }, 'html');
        }

    });
</script>
</body>
</html>