<!doctype html>
<html>
<head>
    {% load staticfiles %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1.0" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>购物车结算</title>
<link rel="stylesheet" type="text/css" href="{% static 'DiningServer/css/swiper.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'DiningServer/css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'DiningServer/css/shopping.css' %}">
</head>

<body>
    <div class="box">
		
<!--head-->
        <div class="box-head">
            <a href="javascript:;"></a>
            <a href="javascript:;">北京</a>
            <a href="javascript:;">咨询电话</a>
        </div>
        <p class="box-head-bd"></p>

<!--信息-->		
        <div class="box-im">
        	<h3>用户信息</h2>
        	<div class="im-name">
        		<p>联系姓名</p>
        		<input type="text" placeholder="请输入姓名..">
        	</div>
        	<div class="im-name">
        		<p>联系电话</p>
        		<input type="text" value="12345678901">
        	</div>
        	<div class="im-name">
        		<p>详细地址</p>
        		<input type="text" placeholder="请输入详细地址.." class="im-add">
        	</div>
        	<div class="im-name">
        		<p>配送门店</p>
        		<input type="text" value="朝阳区">
        	</div>
        	<div class="im-name">
        		<p>备注</p>
        		<input type="text" class="im-ra">
        	</div>
        </div>

        <p class="box-ftbd"></p>
        <div class="box-footer">
        	<p>送货时间</p>
        	<select>
        		<option>11:30</option>
        		<option>11:40</option>
        		<option>11:50</option>
        		<option>12:00</option>
        	</select>
        </div>

<!--尾部-->
        <div class="box-food">
       		<a href="javascript:;">您还没有选餐，快去选餐吧...</a>
       	</div>

    </div>


<script type="text/javascript" src="{% static 'DiningServer/js/Adaptive.js' %}"></script>
<script type="text/javascript" src="{% static 'DiningServer/js/jquery-1.7.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'DiningServer/js/swiper.min.js' %}"></script>
<script type="text/javascript" src="{% static 'DiningServer/js/jquery.nav.js' %}"></script>
<script type="text/javascript" src="{% static 'DiningServer/js/waypoints.min.js' %}"></script>
<script type="text/javascript" src="{% static 'DiningServer/js/navbar2.js' %}"></script>
</body>
</html>