<!doctype html>
<html>
<head>
    {% load staticfiles %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1.0" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>购物车结算</title>
<link rel="stylesheet" type="text/css" href="{% static 'DiningServer/css/swiper.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'DiningServer/css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'DiningServer/css/shopping.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'DiningServer/css/index.css' %}">
</head>

<body>
    <div class="box">
		
<!--head-->
        <div class="box-head">
            <a href="javascript:;"></a>
            <a href="javascript:;">北京</a>
            <a href="javascript:;">咨询电话</a>
        </div>
        <p class="box-head-bd"></p>

<!--信息-->		
        <div class="box-im">
        	<h3>用户信息</h3>
            {% if user %}
                <div class="im-name">
        		<p>联系姓名</p>
        		<input type="text" placeholder="请输入姓名.." value="{{ user.username }}">
        	</div>
        	<div class="im-name">
        		<p>联系电话</p>
        		<input type="text" value="{{ user.phone }}">
        	</div>
        	<div class="im-name">
        		<p>详细地址</p>
        		<input type="text" placeholder="请输入详细地址.." class="im-add" value="{{ user.location }}">
        	</div>
        	<div class="im-name">
        		<p>备注</p>
        		<input type="text" class="im-ra">
        	</div>
            {% else %}
        	<div class="im-name">
        		<p>联系姓名</p>
        		<input type="text" placeholder="请输入姓名..">
        	</div>
        	<div class="im-name">
        		<p>联系电话</p>
        		<input type="text" value="12345678901">
        	</div>
        	<div class="im-name">
        		<p>详细地址</p>
        		<input type="text" placeholder="请输入详细地址.." class="im-add">
        	</div>
        	<div class="im-name">
        		<p>配送门店</p>
        		<input type="text" value="朝阳区">
        	</div>
        	<div class="im-name">
        		<p>备注</p>
        		<input type="text" class="im-ra">
        	</div>
            {% endif %}
        </div>

        <p class="box-ftbd"></p>
        <div class="box-footer">
        	<p>送货时间</p>
        	<select>
            {% if times %}
                {% for item in times %}
                    <option>{{ item }}</option>
                {% endfor %}
            {% else %}
                <option>立即送达</option>
            {% endif %}
        	</select>
        </div>

<!--尾部-->
     <div class="box-food">
         <div id="container" class="container-box ">
              <div class="section pd6" id="st0">
                    <div class="prt-lt" style="width:100%; border:none;">
                        <div class="lt-lt">
                            {% if avatar_url %}
                                <img src="{{ avatar_url }}">
                            {% else %}
                                <img src="{% static 'DiningServer/images/index/prt_2.jpg' %}">
                            {% endif %}
                            <a href="javascript:;" class="boxtext"><span>已有<strong>{{ judge_count }}</strong>人评价</span></a>
                        </div>
                        <div class="lt-ct">
                            <p>商品1</p>
                            <p class="pr">¥<span class="price">{{ meal_price }}</span></p>
                            <p class="pr2">已售<span class="text">{{ sold_count }}</span>份</p>
                        </div>
                        <div class="lt-rt">
                            <input type="button" class="minus"  value="-">
                            <input type="text" class="result" value="0">
                            <input type="button" class="add" value="+">
                        </div>
                    </div>
              </div>
        </div>
    </div>
</div>


<script type="text/javascript" src="{% static 'DiningServer/js/Adaptive.js' %}"></script>
<script type="text/javascript" src="{% static 'DiningServer/js/jquery-1.7.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'DiningServer/js/swiper.min.js' %}"></script>
<script type="text/javascript" src="{% static 'DiningServer/js/jquery.nav.js' %}"></script>
<script type="text/javascript" src="{% static 'DiningServer/js/waypoints.min.js' %}"></script>
<script type="text/javascript" src="{% static 'DiningServer/js/navbar2.js' %}"></script>
<script>
$(function () {
    var url = "/course/ajaxnewpublicdetailv2";
    $.post(url, function (data) {
        if (data.status) {

        }
    }, "json")

});
</script>
</body>
</html>