<!doctype html>
<html>
<head>
     {% load staticfiles %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1.0" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>订餐系统</title>
<link rel="stylesheet" type="text/css" href="{% static 'DiningServer/css/swiper.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'DiningServer/css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'DiningServer/css/index.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'DiningServer/css/userInfoPage.css' %}">
</head>
<body style="background:#E5E5E5">
<div class="data">
    <div class="data-head pd20">个人资料修改</div>
    <form>
        <ul class="data-box">
            <li class="data-area pd20">
                <div class="area-text">真是姓名</div>
                <input class="area-change" type="text" value="" placeholder="777" />
            </li>
            <li class="data-area pd20">
                <div class="area-text">性别</div>
                <div class="area-change">
                    <input name="pop" type="radio" value="man" />&nbsp;男&nbsp;&nbsp;
                    <input name="pop" type="radio" value="woman" />&nbsp;女
                </div>
            </li>
            <li class="data-area pd20">
                <div class="area-text">出生年月</div>
                <input class="mt20 laydate-icon area-change" onClick="laydate()">
            </li>
            <li class="data-area pd20">
                <div class="area-text">联系电话</div>
                <input class="area-change" type="text" value="" placeholder="15827387512" />
            </li>
            <li class="data-area pd20">
                <div class="area-text">联系邮箱</div>
                <input class="area-change" type="text" value="" placeholder="hjgjh@qq.com" />
            </li>
            <li class="data-area pd20">
                <div class="area-text">联系地址</div>
                <input class="area-change" type="text" value="" placeholder="三里屯" />
            </li>
        </ul>
        <div class="submit-box">
            <input type="submit" class="data-submit" value="点击修改">
        </div>
    </form>
</div>
<!--用户信息界面，在该界面用户可以修改信息并保存，保存成功后依然跳转回该界面-->
<script type="text/javascript" src="{% static 'DiningServer/js/laydate.js' %}"></script>
<script type="text/javascript" src="{% static 'DiningServer/js/Adaptive.js' %}"></script>
<script type="text/javascript" src="{% static 'DiningServer/js/jquery-1.7.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'DiningServer/js/swiper.min.js' %}"></script>
<script type="text/javascript" src="{% static 'DiningServer/js/jquery.nav.js' %}"></script>
<script type="text/javascript" src="{% static 'DiningServer/js/waypoints.min.js' %}"></script>
<script type="text/javascript" src="{% static 'DiningServer/js/navbar2.js' %}"></script>
</body>
</html>